.form{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    gap: 20px;
    margin-left: 40%;
    margin-top: 2%;
    padding: 10px;
    background-color: #ffe4c4;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    
}

.btn-register{
    background-color: rgb(255, 221, 127);
    width: 40%;
    border: none;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}