.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} 

.category{
    border: 2px solid #6A3B0E;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.option{
    color: black;
}
