.form{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    gap: 20px;
    /* margin процентами не делаем */
    margin-left: 40%;
    margin-top: 2%;
    padding: 10px;
    background-color: #ffe4c4;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    font-size: larger;
    
}

.btn-login{
    background-color: rgb(255, 221, 127);
    width: 40%;
    border: none;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    font-size: large;
    
}

.login-input{
    border-radius: 20px;
}

