a{
    text-decoration: none;
}
.header{
    background-color: #F3EDDE;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    border-radius: 16px;
}

.logo{
    width: 111px;
    height: 80px;
}

.allPosts{
    background-color: transparent;
    border: none;

}
.allPostsText{
    display: flex;
    color: #DDB093;
    font-size: 20px;
    font-weight:bold; 

}

.recomendations{
    background-color: transparent;
    border: none;
}
.recomendationsText{
    display: flex;
    color: #DDB093;
    font-size: 20px;
    font-weight:bold;
}



.yourPosts{
    background-color: transparent;
    border: none;
}
.yourPostsText{
    display: flex;
    color: #DDB093;
    font-size: 20px;
    font-weight:bold;
}

.liked{
    background-color: transparent;
    border: none;
}
.likedText{
    display: flex;
    color: #DDB093;
    font-size: 20px;
    font-weight:bold;
}

.yourProfile{
    background-color: #EDB7B7;
    border-radius: 10px;
    border: none;
    width: 99px;
    height: 70px;
    display: flex;
    align-items: flex-start;
}
.yourProfileText{
    color: #A8673B;
    font-size: 20px;
    font-weight:bold;
    display: flex;
    align-items: flex-start;
}

